<h4 class="display-4">Lecturer Details</h4>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-row">

        <div class="form-group col-md-2">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
            <input name="salutation" #salutation="ngModel" [(ngModel)]="service.formData.salutation" class="form-control" placeholder="Salutation" required>
        </div>
        <div class="form-group col-md-10">
            <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Name" required>
        </div>
    </div>

    <div class="form-group">
        <input name="position" #position="ngModel" [(ngModel)]="service.formData.position" class="form-control" placeholder="Position" required>
    </div>
    <div class="form-group">
        <input name="qualifications" #qualifications="ngModel" [(ngModel)]="service.formData.qualifications" class="form-control" placeholder="Qualifications" required>
    </div>
    <div class="form-group">
        <input name="resArea" #qualifications="ngModel" [(ngModel)]="service.formData.resArea" class="form-control" placeholder="Research Area" required>
    </div>
    <div class="form-group">
        <input type="email" name="emailA" #emailA="ngModel" [(ngModel)]="service.formData.emailA" class="form-control" placeholder="e-mail" required>
    </div>
    <div class="form-group">
        <input name="imgurl" type="text" #imgurl="ngModel" [(ngModel)]="service.formData.imgurl" class="form-control" placeholder="imgurl" hidden>
    </div>
    <div class="form-group">
        <input type="file" (change)="uploadFile($event)" class="form-group" name="fileurl" placeholder="Picture" class="form-control" id="fileurl">

    </div>


    <!-- <div class="input-group mb-3">///////////////////////////////////////////  photo input
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" (change)="uploadFile($event)" class="custom-file-input" name="imgurls" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"> 
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
    </div> -->
    <!-- <input type="file" (change)="uploadFile($event)"> -->
    <p style="color: red;" *ngIf="form.invalid && form.touched"> *All the fields are required </p>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-primary">Submit</button>
    </div>
    <!-- <div class="form-group">
        <button type="" [disabled]="!form.touched" onclick="resetForm()" class="btn btn-block btn-primary">Reset</button>
    </div> -->

    <!-- <script>
        if (this.document.getElementById("fileurl").value != "") {

        }
    </script> -->

</form>