<table class="table table-hover">
    <thead>

        <th>Video</th>
        <th>Title</th>

        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let tt of list">
            <td><video src='{{ tt.vdourl }}' alt=" " style="max-width: 50%; max-height: 50%;"> </video></td>
            <td> {{ tt.title }}</td>

            <td>
                <a (click)="onEdit(tt) " class="btn "> <i class="fas fa-edit "></i> </a>
                <a class="btn text-danger " (click)="onDelete(tt.id, tt.title) "> <i class="fa fa-trash "></i> </a>
            </td>
        </tr>
    </tbody>
</table>